body {
    background-image: url("images/blur-blurred-blurred-background-bokeh-1187974.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.navbar {
    background-color: rgb(128,128,128,0.5) !important;
}

.btn {
    color: white;
    background-color: rgb(128,128,128,0.6) !important;
}
.btn:hover {
  color: white !important;
  background-color: rgba(194, 191, 191, 0.39);
}
h3 {
    margin-right: 180px;
}
/* img {
    position: absolute;
    top: 15%;
    height: 400px;
    width: 300px;
    display: none;
    animation: topFadeOutAbout;
    animation-duration: 5s;
}
.about {
    display: none;
    color: white;

} */
#projects-container{
    display: none;
    color: white;
    position: absolute;
    top: 15%;
    font-size: 1.5rem;
    animation: topFadeOutAbout;
    animation-duration: 5s;
}
.project-header{
    position: absolute;
    top: 20%;
    font-size: 1.5rem;
    animation: topFadeOutAbout;
    animation-duration: 5s;
}
@keyframes topFadeOut {
    0% {
      position: absolute;
      top: 7%;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 40%;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }

  @keyframes bottomFadeOut {
    0% {
      position: absolute;
      bottom: -5rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      bottom: 25%;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
    
  }

  @keyframes topFadeOutAbout {
    0% {
      position: absolute;
      top: 1rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 15%;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  

.first-text {
    font-size: 4.4rem;
    position: absolute;
    left: 2.5rem;
    top: 40%;
    opacity: 1;
    animation-name: topFadeOut;
    animation-duration: 5s;
    color: white;
  }

  .first-paragraph {
    font-size: 2rem;
    position: absolute;
    left: 385px;
    top: 55%;
    opacity: 1;
    animation-name: bottomFadeOut;
    animation-duration: 5s;
    color: white;
  }
  .homeP {
    width: 50%;
  }
  .first-button {
    font-size: 2rem;
    position: absolute;
    left: 2.5rem;
    top: 70%;
    opacity: 1;
    animation-name: bottomFadeOut;
    animation-duration: 5s;
    color: white;
  }
  .projects {
    color: white;
    background-color: grey;
    text-align: center;
    display: block;
    width: 375px;
    height: 30px;

}
#projects-1 {
  background-color: #2D325A;
}
.portfolio-links {
color: white;
background-color: grey;
text-align: center;
display: block;
width: 375px;
height: 50px;
}

.portfolio {
    Color: #777777;
    width: 100%;
    height: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:rgb(220,220,220, 0.4);
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-align: center;
    overflow: auto;
}
img {
    height: 275px;
    width: 350px;
}
#headshot {
  height: 400px;
  width: 325px;
  padding: 20px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(220,220,220, 0.4);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
  .text2 {
  white-space: nowrap; 
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay-projects:hover .overlay {
    height: 100%;
  }
.overlay-projects {
    position: relative;
    width: 350px;
}
p {
    font-size: 20px;
}
a:hover {
    color: lightgrey;
    text-decoration: none;
}

.aboutMe{
  display: inline-block;
  
}

#aboutMe{
  display: none;
  color: white;
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 1.5rem;
  animation: topFadeOutAbout;
  animation-duration: 5s;
  background-color: rgb(128,128,128,0.5);
  padding: 15px;
  text-align: center;
  margin: auto;
}
#technologies {
  font-size: 16px;
}

